[default]
ConnectionType=acceptor
BeginString=FIX.4.4
# Use JDBC store for reliability (see README for DDL)
# If you set JdbcStore=true in runtime, QuickFIX/J will use JdbcStoreFactory
FileStorePath=./store
FileLogPath=./log
SocketAcceptPort=9880
HeartBtInt=30
UseDataDictionary=Y
DataDictionary=FIX44.xml

# Session block
[session]
SenderCompID=MY_FIRM
TargetCompID=COUNTERPARTY
StartTime=00:00:00
EndTime=23:59:59